@font-face {
  font-family: 'heebo';
  src: url('./heebo-variablefont_wght-webfont.woff2') format('woff2'),
    url('./heebo-variablefont_wght-webfont.woff') format('woff'),
    url('./Heebo-VariableFont_wght.ttf') format('truetype');
}
body {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 840px;
  max-width: 1053px;
  
} 

div#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: stretch;
    height: 100vh;
    background-image: url("./YellowCurry-2_2000x.png"), url("./blurry-gradient-haikei.svg#svgView(preserveAspectRatio(none))");
      background-size: 100% 100%;
      overflow-x: hidden;
  
}

.header, .footer {

  flex: 1.5;
  font-family: 'heebo';
  font-size: 95px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  white-space: nowrap;
  
}
.title {
  align-self: center;
  justify-self: center;
  -webkit-text-stroke: 5px black;
  text-shadow: 6px 6px 0px rgba(236, 230, 230, 0.531);
}

.btn-container{
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: flex-end;
}
.btn-container>div {
  text-shadow: 1.5px 1.5px 0px rgba(236, 230, 230, 0.049);
  font-size: 2rem;
  color: #B8CEF0;
  padding: 8px 20px;
  background-color: rgb(169, 65, 28);
  border-radius: 10px;
  margin-bottom: 15px;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 4;
  align-items: center;
  justify-content: center;
  
}

.header {
  background: url("./layered-waves-haikei.svg#svgView(preserveAspectRatio(none))") no-repeat;
  background-size: 100% 200%;
}

.footer {
  background: url("./wave-haikei.svg#svgView(preserveAspectRatio(none))") no-repeat;
  background-size: 100% 100%;
  
}/*  rgb(15, 30, 136)
rgb(169, 65, 28)
B8CEF0 */

.contact-header {
  font-family: 'heebo';
  font-size: 45px;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;

} 

.contact-body {
    font-family: 'heebo';
    color: white;
    font-size: larger;
    padding-bottom: 25px;
    padding-left: 100px;
    padding-right:100px;
    background-color: rgba(0, 0, 0, 0.7);
}
.product-container,
.copy {
  font-family: 'heebo';
  color: white;
  font-size: larger;
  width: 100%;
  padding: 30px;
  ;
} 

.product-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 20px;
  margin-bottom: 20px;
}

.image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  max-width: 200px;
}
.copy {
  flex: 1.5;
  font-size: medium;
  min-width: 562px;
  max-width: 580px;
}